<html>
    <body>
        <H2>Restaurants List</H2>
        <ul>
            <% for (var r of restaurants) { %>
                <li><a href='/display?_id=<%=r._id%>'><%= r.name %></a></li>
                <% } %>
        </ul>
    </body>
</html>