<html>
    <body>
        <form action="/search" method="get" class="inserts value">
            Restaurant Name <input class="inserts value" type="text"   name="name"        value=><br>
            <input type="Submit" class="inserts value" value="Search" >
        </form>
     </body>
</html>