<html>
    <body>
        <form action="/delete" method="post" class="inserts value">
            Restaurant_id               <input class="inserts value" type="text"           name="id"        value=><br><br>
            Name:                       <input class="inserts value" type="text"           name="name"      value=><br><br>
            Borough                     <input class="inserts value" type="text"           name="borough"   value=><br><br>
            Cusisine:                   <input class="inserts value" type="text"           name="cusisine"  value=><br><br>
            Street:                     <input class="inserts value" type="text"           name="street"    value=><br><br>
            Building:                   <input class="inserts value" type="text"           name="building"  value=><br><br>
            Zipcode:                    <input class="inserts value" type="text"           name="zipcode"   value=><br><br>
            GPS Coordinates (lon.):     <input class="inserts value" type="text"           name="coordLON"  value=><br><br>
            GPS Coordinates (lat.):     <input class="inserts value" type="text"           name="coordLAT"  value= ><br><br>
            Photo:                      <input class="inserts value" type="file"           name="photo"><br><br>
            <input type="hidden" class="inserts value"  name="_id"><br>
            <input type="submit" class="inserts value" value="submit">
        </form>
     </body>

</html>